<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The page is not existing. </title>
    <meta name="author" content="Sophia Lay/ Kiki Liu/ Shaohan Chen/ Rahul Verma">
    <!--styles -->

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/page_not_found_style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <a href="http://people.ischool.berkeley.edu/~kikiliu/server/home" class="logo">Petite</a>
    </div>
    <div class="container">
        <h1>Oops! The petite url is not existing.</h1>
    </div>
</body>
</html>
