body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #cdecd8;
}

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],{
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-history{
  max-width: 450px;
  padding: 1px 10px 1px 10px;
  margin: 0 auto 8px;
}

.history-info{
  font-family: Arial, sans-serif;
  color: #767676;
}

.history-info-title{
  font-weight: bold;
  color: #666666;
}

.history-info-url {
  text-decoration: underline;
}

#copybutton {
  background-color:#F2B33D;
  background-image: linear-gradient(to bottom, #F2B33D, #F2B33D);
}

.btn:hover {
  background-position: 0 -45px;
}

.copybtn-xsmall{
  padding: 2px 2px;
}

.inline{
  display:inline-block;
  vertical-align:top;
}

.history-url{
  text-decoration:underline;
}

.social .inline {
  width: 120px;
  float:right;
}